{% extends "base.html.twig" %}{# herite du squellette de nos pages #}

{# montre un article en entier #}
{% block body %}
     <article>
            <h2>{{ article.title}}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
            <div class="conten">
                <img src="{{ article.image}}" alt="">
                {{ article.content | raw}}
            </div>
        </article>
        <section id="commentaires">
            {% for comment in article.comments %}
                <hr>
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{comment.author}} (<small>{{comment.createdAt | date('d/m/y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{comment.content | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
{% endblock %}