{% extends "base.html.twig" %}{# herite du squellette de nos pages #}

{# montre un article en entier #}
{% block body %}
     <article>
            <h2>{{ article.title}}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie {{ article.category.title }}</div>
            <div class="conten">
                <img src="{{ article.image}}" alt="">
                {{ article.content | raw}}
            </div>
        </article>
        <section id="commentaires">
            <h2>{{article.comments | length}} commentaires </h2>
            {% for comment in article.comments %}
                <hr>
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{comment.author}} (<small>{{comment.createdAt | date('d/m/y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{comment.content | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            {% if app.user %}
                {{form_start(commentForm)}}
                    {{form_row(commentForm.author,{'attr':{'placeholder':'Nom de l\'auteur'}})}}
                    {{form_row(commentForm.content,{'attr':{'placeholder':'Contenue du commentaire !'}})}}
                    <button type="submit" class="btn btn-success">Commenter</button>
                {{form_end(commentForm)}}
            {% else %}
                <h2>Connectez-vous pour commenter !</h2>
                <a href="{{path("security_login")}}" class="btn btn-primary">Se connecter</a>
            {% endif %}
        </section>
{% endblock %}